body {
    padding: 30px;
    /*font-family: 'Courier';*/
}

.header {
    border-bottom: 3px solid #000;
    padding-bottom: 30px;
}

.logo {
    margin-right: 5px;
}

.confidentBox {
    padding: 5px;
    background-color: #c00000;
}

.confidentBox p {
    margin-right: 25px;
    color: #FFF;
    font-weight: bold;
}

.title {
    margin: 30px 65px 10px 65px;
}

.title h1{
    font-style: italic;
    background-color: #e7bab8;
}

.title2 {
    text-align: center;
    margin-bottom: 20px
}

.personBox {
    border: 1px solid #000;
    width: 100%;
    padding: 15px 30px 30px;
}

.personBox2 {
    border: 1px solid #000;
    width: 100%;
    padding: 15px 30px;
}

.personBox2 p {
    font-size: 0.7em;
    font-style: italic;
}

.tblBorder {
    border-bottom: 2px solid #000;
}

.personTable {
    font-size: 1em;
}

hr.line {
    margin: 50px 0;
}

.personTable tr td:first-child {
    font-weight: bold;
}